<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<!-- MY CSS -->
<!--
 <style type="text/css">
#input_indexar
{
	background-color: #59b459; 
	-webkit-text-fill-color: white;
}
#input_indexar:hover
{
	background-color: #63ce63;
}
</style>
-->
<link rel="stylesheet" href="/static/stylepathology.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


	<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" ></script>
	<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"></script>


	<title>SearchPath</title>

</head>
<body style="background-image: url('/static/fondo.jpg'); background-size: 100%; background-repeat: repeat;">
	<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-4" >
	    	<img class="img-responsive" src="/static/pathology_logo.png" alt="Chania" width="200" height="200">
	    </div>
	    <div class="col-sm-4" style="color: black;">

				<h1 id="app_name" align="center"><font color="blue">Search Path</font></h2>
				<h3 align="center">Index and Searching</h4>
				<h4 align="center">Instituto Patoligia Mejia Jimenez</h5>
				<hr style="color: #123455; height: 1px; background-color: #123455;">
		</div>
	</div>
	</div>
	<p align="center"><i>- Bienvenido -</i></p>
	<div class="container">
		<b><u>Rutas por defecto de los archivos a indexar:</u></b><br>
		<dl>
			<dt>public folder:</dt>
			<dd>-  /var/www/html<dd>
			<dt>folder de los arhivos:</dt>
			<dd>-  /var/www/html/pathologyIndexer<dd>
		<dl><br>
		<font class="text-primary">Copiar o mover los arhivos a la ruta por defecto.</font><br>
		<font class="text-danger">Para desea cambiar la ruta, cambie el archivo de configuración.</font><br>
		<font class="text-info">Para más informacion, leer el <i>README.md<i></font>
	</div>
	
	<div class="container" style="margin-top: 10px;">
		
			<div class="row">
				<div class="col-sm-6" align="center">
					<form type="hidden" method="POST" id="form_paths">
						<Button id="boton_indexar" type="submit" form="form_paths" class="btn btn-success" ><span class="glyphicon glyphicon-ok" ></span> Indexar</Button>
					</form>
				</div>
				<div class="col-sm-6" align="center"> 
					<Button id="boton_busqueda" type="button" onclick="ir_buscar()" class="btn btn-success" ><span class="glyphicon glyphicon-search"></span> Ir al modulo de busqueda</Button>			
				</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<div class="col-sm-12" >
					<label>Estado de la indexacion:</label>
					<kbd id="index_status">{{cantidad}}</kbd>
				</div>
			</div>
		
	</div>
</body>

<script type="text/javascript">
	function limpiar(){
			var texto;
			document.getElementById("id_entrada").value="";
		}
</script>

<script type="text/javascript">
	function ir_buscar(){
		location.href = "/search";
	}
</script>

<script>
	$(document).ready(function() {
	    $('#tabla_resultados').DataTable();
	} );
</script>


</html>